.table th, .table td {
    width: 100px;
}

.table {
    border-collapse: collapse;
}

.table tr:nth-of-type(even) {
    background-color: white;
}

.table tr:nth-of-type(odd) {
    background-color: var(--color1)
}

.table td {
    text-align: center;
}

.table {
    display: block;
    margin: 2em auto 0;
    border: var(--color4) solid thick;
    width: fit-content;

    /* Scrollable */
    height: fit-content;
    max-height: 35vh;
    overflow: auto;
}

.deleteButton {
    background-color: red;
    color: white;
}

.chart {
    border-top: var(--color5) thin solid;
    width: 75%;
    display: block;
    margin: 2em auto;
    padding-top: 2em;
}
