.downloader {
    margin: 5em auto;
    display: block;
    width: fit-content;
}

.form input {
    display: block;
    padding: 1em;
    border: thin gray solid;
    border-radius: 2em;
    margin: 1em;
}

.form input:last-of-type {
    margin: 2em auto;
}

.progress {
    display: block;
    text-align: center;
}
