.downloader {
    margin: 5em auto;
    display: block;
    width: fit-content;
}

.form input {
    display: block;
    padding: 1em;
    border: thin gray solid;
}

.progress {
    display: block;
    text-align: center;
}
