.grid {
    display: grid;
    height: 50vh;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.leftSide {
    display: inline-grid;
    grid-row: 2 / 4;
    border-right: var(--color4) thick solid;
}

.leftSide > a {
    background-color: var(--color2);
    color: var(--color4);
    border: var(--color5) thin solid;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    width: 10em;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.leftSide > a:hover {
    color: var(--color2);
    background-color: var(--color4);
}

.leftSide > .backtest {
    margin-top: 1em;
}

.leftSide > .downloader {
    margin-bottom: 1em;
}

.rightSide {
    grid-row: 1 / 5;
    padding-left: 4em;
    padding-top: 2em;
}

.rightSide > p:first-of-type {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.rightSide li {
    font-size: 1.00em;
    margin-bottom: 0.25em;
}
