.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--color2);
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar > ul > li > a {
    display: block;
    text-align: center;
    padding: 25px;
}

.navbar > ul > li > a:not(.active) {
    color: var(--color4);
}

.navbar > ul > li:hover > a {
    background-color: var(--color4);
    color: var(--color2);
}

.active {
    background-color: var(--color4);
    color: var(--color2);
}
